<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 674.9 110.9" xml:space="preserve">
      <style type="text/css">
        .st0 {
          fill: #5A2A98;
        }

        .st1 {
          fill: #C1B3DD;
        }

        .st2 {
          fill: #8885C4;
        }

        .st3 {
          fill: #FFFFFF;
        }

        .st4 {
          fill: #2A1B43;
        }
      </style>
      <g>
        <g>
          <path class="st0" d="M665.8,34.4h-0.5v-6.3h-1.9v-0.5h4.3v0.5h-1.9L665.8,34.4L665.8,34.4z"></path>
          <path class="st0" d="M671,32.6l-1.8-3.9v5.7h-0.5v-6.8h0.6l2,4.4l2-4.4h0.6v6.8h-0.5v-5.7l-1.8,3.9H671z"></path>
        </g>
        <polygon class="st1" points="48,27.6 72,13.8 72,41.5 	"></polygon>
        <polygon class="st0" points="96,27.6 72,13.8 72,41.5 	"></polygon>
        <polygon class="st1" points="96,55.4 96,27.6 72,41.5 	"></polygon>
        <polygon class="st1" points="96,55.4 96,27.6 72,41.5 	"></polygon>
        <polygon class="st2" points="72,13.8 48,-0.1 48,27.6 	"></polygon>
        <polygon class="st2" points="96,55.4 72,41.5 72,69.2 	"></polygon>
        <polygon class="st1" points="96,83 96,55.4 72,69.2 	"></polygon>
        <polygon class="st2" points="72,96.9 72,69.2 48,83.1 	"></polygon>
        <polygon class="st0" points="72,96.9 48,83.1 48,110.8 	"></polygon>
        <polygon class="st3" points="72,41.5 48,27.6 48,55.4 	"></polygon>
        <polygon class="st4" points="48,55.4 48,27.6 24,41.4 24,69.3 48,83.1 72,69.2 72,41.5 	"></polygon>
        <polygon class="st2" points="48,27.6 24,13.7 24,41.4 	"></polygon>
        <polygon class="st0" points="0,27.6 24,13.7 24,41.4 	"></polygon>
        <polygon class="st2" points="24,41.4 0,55.4 24,69.3 	"></polygon>
        <polygon class="st1" points="24,69.3 0,82.9 0,55.4 	"></polygon>
        <polygon class="st0" points="24,96.9 0,82.9 24,69.3 24,96.7 	"></polygon>
        <polygon class="st1" points="24,96.9 48,83.1 24,69.3 	"></polygon>
        <path class="st0" d="M364.3,65.7h12c-0.7,4.3-4,18.6-22.5,18.7C336.1,84.5,330.7,71,330.7,60v-8.8c0-11.8,5.7-24.8,23.1-24.8
		c18.9,0,23.1,15,23.1,24.8v8h-34.5v2c0,6.7,3.2,11.8,11.4,11.8C360.4,72.9,363.8,68.8,364.3,65.7z M342.4,48.2v1.1h22.7v-1.1
		c0-4.6-3-10.5-11.3-10.5C345.3,37.8,342.4,43.6,342.4,48.2z M311.9,66.1c0,4.6,2.6,6.5,6.9,6.5h4v10.5h-7.3
		c-9.9,0-15.7-6-15.7-14.3V38.1h-9.7V27.6h9.7V15h12.1v12.6h11v10.5h-11V66.1z M470.3,83.1V50c0-8.4,4.4-12.3,10.7-12.3
		c6.2,0,10.7,3.9,10.7,12.3v33.1h12.1V49.3c0-17.1-12.4-23-22.6-23c-9.1,0-15.3,5.3-16.9,7.9c-1.6-2.5-7.9-7.9-16.9-7.9
		c-10.2,0-22.6,5.9-22.6,23v33.8h12.1V50c0-8.4,4.4-12.3,10.7-12.3c6.4,0,10.7,4.2,10.7,12.3v33.1H470.3z M177,27.6v33.1
		c0,8.1-4.3,12.3-10.7,12.3c-6.2,0-10.7-3.9-10.7-12.3V27.6h-12.1v33.8c0,17.1,12.4,23,22.6,23c9.1,0,15.3-5.3,16.9-7.9
		c1.7,2.5,7.8,7.9,16.9,7.9c10.2,0,22.6-5.9,22.6-23V27.6h-12.1v33.1c0,8.4-4.4,12.3-10.7,12.3c-6.2,0-10.7-3.9-10.7-12.3V27.6H177z
		 M418.4,38.6V27.1h-3.8c-18.4,0-22.6,11.5-22.6,22.4v33.6h12.1V50.8c0-6.1,3.1-12.3,11.3-12.3L418.4,38.6L418.4,38.6z M604.6,38.6
		V27.1h-3.8c-18.4,0-22.6,11.5-22.6,22.4v33.6h12.1V50.8c0-6.1,3.1-12.3,11.3-12.3L604.6,38.6L604.6,38.6z M259.3,26.3
		c-15,0-22.2,7.9-22.2,18.5h11.5c0.2-2.3,1.6-7,10.1-7c9.6,0,11.1,6.4,11.1,9.8v0.2c0,0-9,1-14.7,1.6c-11.8,1.3-20.4,6.7-20.4,16.9
		c0,9.9,7.4,18.2,20.3,18.2c8.9,0,13.9-4.8,14.8-5.9v4.6H282V46.7C282,37.3,276.8,26.3,259.3,26.3z M269.8,60.8
		c0,6.3-4.5,12.5-12.4,12.5c-6.8,0-10.3-2.9-10.3-7.4c0-3.9,2.8-5.9,8.9-6.6c3-0.3,13.9-1.5,13.9-1.5v3H269.8z M539.5,26.3
		c-15,0-22.2,7.9-22.2,18.5h11.5c0.2-2.3,1.6-7,10.1-7c9.6,0,11.1,6.4,11.1,9.8v0.2c0,0-9,1-14.7,1.6c-11.8,1.3-20.4,6.7-20.4,16.9
		c0,9.9,7.4,18.2,20.3,18.2c8.9,0,13.9-4.8,14.8-5.9v4.6h12.1V46.7C562.1,37.3,556.9,26.3,539.5,26.3z M550,60.8
		c0,6.3-4.5,12.5-12.4,12.5c-6.8,0-10.3-2.9-10.3-7.4c0-3.9,2.8-5.9,8.9-6.6c3-0.3,13.9-1.5,13.9-1.5v3H550z M625.2,49.2l19.2-21.6
		h13.9l-19.6,21.6l23.1,33.9h-14l-17-25.2l-5.6,6.3V83h-12.1V7.7h12.1V49.2z"></path>
      </g>
    </svg>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <% if current_user.user_role === 'Employee' %>
          <li class="nav-item <%= active_class(translations_path) %>">
            <%= link_to translations_path, class: "nav-link" do %>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg>
            <% end %>
          </li>
          <li class="nav-item <%= active_class(new_translation_url) %>">
            <%= link_to "Create New Request", new_translation_url, class: "nav-link" %>
          </li>
          <li class="nav-item <%= active_class(new_user_session_path) %>">
            <%= link_to "Request Status", translations_path, class: "nav-link" %>
          </li>
        <% elsif current_user.user_role === 'Supervisor' %>
          <li class="nav-item <%= active_class(new_user_session_path) %>">
            <%= link_to "Home", translations_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= active_class(new_user_session_path) %>">
            <%= link_to "Requests", translations_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= active_class(new_user_session_path) %>">
            <%= link_to "Request Status", translations_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item <%= active_class(new_user_session_path) %>">
            <%= link_to "Requests", translations_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to current_user.user_name, '#', class: "nav-link active" %>
        </li>
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <%= active_class(new_user_session_path) %>">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= active_class(new_user_registration_path) %>">
          <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
