<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <title>Watermark Dictionary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="d-flex flex-column h-100">
<div class="container-fluid">
  <%= render "layouts/navigation" %>
  <%= yield %>
</div>
<%= render "layouts/footer" %>
</body>
</html>
